/* CSS Stylesheet */

:root { /* root pseudo-class */
	/* Colors */
	--color-jet: #333333;
	--color-battleship-gray: #8F8F83;
	--color-beige: #EBEBD3;
	--color-khaki: #C7B1A4;
	--color-old-rose: #A37774;
	--color-princeton-orange: #FA9500;
	--color-bittersweet: #FF5A5F;
	--color-night: #121417;

	/* Fonts */
	--font-fullname: "Comic Sans MS", cursive, sans-serif;
	--font-roboto: "Roboto", sans-serif;
	--font-main-heading: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	--font-main-heading-fallback: ; /* TODO */
	--font-header-options: "Courier", "Courier New", monospace;
	--font-footer: "Courier New", Courier, monospace;

	/* Font Specifications */
	--font-size-paragraph: 24px;
	--font-size-header-options: 48px;
	--font-size-header-fullname: 15px;

	/* Index Header Container Dimensions */
	--index-header-height: 40px;

	/* Index Header Container Child Dimensions*/
	--logo-height: 50px;
	--logo-width: 50px;
	--fullname-height: 10px;
	--fullname-width: 120px;

	/* Index Main Dimensions */
	--index-main-width: 100%;
	--index-main-height: 5000px;

	/* Index Footer Dimensions */
	--index-footer-width: 100%;
	--index-footer-height: 450px;
	--digital-sources-height: 140px;
}

#index-body #him-href,
#index-body #projects-href {
	color: var(--color-black);
	font-size: 24px;
	text-decoration: none;
}

#index-body {
	/* Box Model */
	width: 100%;
	max-width: 960px;
	border: 0;
	padding: 0;
	margin: 0 auto;

	/* Display and Positioning */

	/* Flexbox */
	display: block;
	justify-content: center;
	align-items: center;

	/* Grid */
	display: grid;
	grid-template-areas:
		"header"
		"main"
		"footer";
	grid-template-rows: var(--index-header-height) 1fr auto;
	grid-template-columns: 1fr;

	/* Visual Rules */
	background-color: var(--color-night);
	text-align: center;
}

#index-body header {
	/* Box Model */
	border-bottom: 0px solid black;
	width: 100%;
	height: var(--index-header-height);

	/* Display and Positioning */
	left: 50%;
	top: 0;

	/* Flexbox */
	align-content: center;

	/* Grid */
	grid-area: header;

	/* Visual Rules */
	background-color: var(--color-night);
}

#index-body header .header-container {
	/* Box Model */
	width: 100%;
	max-width: fill;
	height: var(--index-header-height);
	padding-left: 0px;
	padding-top: 0px;

	/* Display and Positioning */
	display: flex;
	position: relative;

	/* Flexbox */
	justify-content: flex-start;
	align-items: center;
}

#index-body header .header-container #fullname {
	/* Box Model */
	width: auto;
	height: auto;
	margin-left: 15px;
	margin-right: 0px;

	/* Display and Positioning */
	display: inline-block;

	/* Font */
	font-family: var(--font-fullname);
	font-size: var(--font-size-header-fullname);
	font-weight: bolder;

	/* Visual Rules */
	color: white;
	text-align: center;
}

#index-body header .header-container div {
	/* Box Model */
	border: 0px black solid;
	margin: 0;

	/* Display and Positioning */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Font */
	font-size: 0px;
}

#index-body header .header-container div .options {
	/* Box Model */
	width: 100px;
	height: auto;
	border: 0px solid black;
	margin: 0px;
	padding: 0px;

	/* Display and Positioning */
	display: inline-block;

	/* Font */
	font-family: var(--font-header-options);
	font-size: var(--font-size-header-fullname);
	font-weight: bolder;

	/* Visual Rules */
	color: white;
	text-align: center;
}

#index-body header .header-container #location {
	/* Box Model */
	width: auto;
	height: 10;
	margin-right: 15px;
	gap: 5px;

	/* Display and Positioning */
	display: flex;
	position: absolute;
	right: 0px;

	/* Font */
	font-family: var(--font-fullname);
	font-size: var(--font-size-header-fullname);
	font-weight: bolder;

	/* Visual Rules */
	color: white;
	align-items: center;
}

#index-body header .header-container #location-logo {
	/* Box Model */
	width: 20px;
	margin-left: 5px;
}

#index-body main {
	/* Box Model */
	padding-top: 50px;
	width: 790px;
	margin: 0 auto;

	/* Grid */
	grid-area: main;
	display: grid;
	grid-template-areas:
		"him 				him"
		"skills 			skills"
		"projects 			projects";
	grid-template-columns: repeat(2, 1fr);

	/* Visual Rules */
	background-color: var(--color-night);
}

#index-body main h2,
#index-body footer h2,
#index-body main #career-label {
	/* Box Model */
	border: 0px black solid;
	margin-bottom: 0px;
	
	/* Font */
	font-family: var(--font-main-heading);
	font-size: 42px;
	font-weight: bold;

	/* Visual Rules */
	background-color: var(--color-night);
	color: white;
	text-align: left;
}

#index-body #him {
	/* Box Model */
	width: auto;
	margin: 10px;
	padding: 10px 20px;
	border: 1px solid white;
	border-radius: 10px;

	/* Display and Positioning */
	display: flex;

	/* Flexbox */
	flex-direction: column;

	/* Grid */
	grid-area: him;
}

#index-body main #him #career-label {
	/* Box Model */
	margin: 0;
	margin-bottom: 10px;
}

#index-body #him div {
	/* Display and Positioning */
	display: flex;
}

#index-body #him div a #email {
	/* Box Model */
	width: 20px;
	height: auto;
}

#index-body #him div a #instagram {
	/* Box Model */
	padding-left: 10px;
	width: 20px;
	height: auto;
}

#index-body #him div a #linkedin {
	/* Box Model */
	padding-left: 10px;
	width: 20px;
	height: auto;
}

#index-body #him div a #github {
	/* Box Model */
	padding-left: 10px;
	width: 20px;
	height: auto;
}

#index-body #him div a #leetcode {
	/* Box Model */
	padding-left: 10px;
	width: 20px;
	height: auto;
}

#index-body #him div a #youtube {
	/* Box Model */
	padding-left: 10px;
	width: 20px;
	height: auto;
}

#index-body #him div p {
	/* Box Model */
	margin: auto 0;
	padding-left: 5px;

	/* Font */
	font-size: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

	/* Visual Rules */
	text-align: left;
}

#index-body #him p {	
	/* Display and Positioning */
	display: block;	

	/* Font */
	font-family: var(--font-roboto);
	font-size: 15px;
	font-weight: 0;

	/* Visual Rules */
	color: white;
	text-align: justify;
}

#index-body #skills {
	/* Box Model */
	margin: 10px;
	padding: 20px;
	border: 0px solid black;

	/* Visual Rules */
	background-color: var(--color-night);

	/* Grid */
	grid-area: skills;
}

#index-body #skills h2 {
	/* Box Model */
	border: 0px black solid;
	margin: 0;
	margin-bottom: 10px;
}

#index-body #skills .skill {
	/* Box Model */
	width: auto;
	height: 80px;

	/* Display and Positioning */
	display: inline-flex;

	/* Flexbox */
	flex-wrap: wrap;
	flex-direction: row;

	/* Visual Rules */
	color: white;
	text-align: center;
	align-items: center;
	justify-content: space-around;
}

#index-body .skill h3 {
	/* Box Model */
	border: 0px black solid;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	
	/* Font */
	font-family: var(--font-main-heading);
	font-size: 24px;

	/* Visual Rules */
	text-align: center;
	background-color: var(--color-night);
}

#index-body #cpp {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #html {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #css {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #javascript {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #java {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #python {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #vhdl {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #assembly {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #latex {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #jupyter-notebook {
	display: block;
	width: 30px;
	height: auto;
	margin: 0;
}

#index-body #projects {
	/* Box Model */
	margin: 10px;
	padding: 20px;
	border: 0px solid black;

	/* Display and Positioning */
	display: block;

	/* Flexbox */
	flex-direction: column;
	align-items: center;

	/* Grid */
	grid-area: projects;
}

#index-body #projects h2 {
	/* Box Model */
	border: 0px black solid;
	margin: 0;
	margin-bottom: 10px;
}

#index-body #projects div {
	/* Box Model */
	width: 100%;
	height: auto;

	/* Flexbox */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#index-body #projects div article {
	/* Box Model */
	width: 350px;
	height: 300px;
	margin: 0px 0px 0px 0px;
	border: 2px solid black;
	border-radius: 10px;
	
	/* Display and Position */
	position: relative;

	/* Flexbox */
	display: inline-block;
	
	/* Visual Rules */
	background-color: white;
}

#index-body #projects div article img {
	/* Box Model */
	margin: 0;
	padding: 0;
	border-radius: 10px;
	
	/* Box Model */
	width: 100%;
	height: 100%;
}

#index-body #projects div article h3 {
	/* Box Model */
	border: 0px black solid;
	margin: 0;
	border-radius: 8px 8px 0px 0px;
	
	/* Display and Positioning */
	position: absolute;
	top: 0px;

	/* Font */
	font-family: var(--font-main-heading);
	font-size: 24px;
}

#index-body #projects div article h4 {
	/* Box Model */
	padding-left: 5px;
	margin: 0;
	border-radius: 0px 0px 0px 8px;
	
	/* Display and Position */
	position: absolute;
	bottom: 0px;
	left: 0px;

	/* Font */
	font-family: var(--font-main-text);
	font-size: 24px;

	/* Visual Rules */
	text-align: justify;
}

#index-body #projects #more-projects-button {
	/* Box Model */
	border: 0px solid black;
	margin: 0;
	width: fill;
	
	/* Font */
	font-family: var(--font-header-options);
	font-size: 18px;
	
	/* Visual Rules */
	color: white;
	text-align: center;
}

#index-body footer {
	/* Box Model */
	width: 100%;
	margin: 0 auto;

	/* Font */
	font-family: var(--font-footer);

	/* Grid */
	grid-area: footer;
}

#index-body footer h2 {
	margin-left: 20px;
}

#index-body footer #digital-sources {
	/* Box Model */
	height: var(--digital-sources-height);

	/* Flexbox */
	display: flex;
	flex-direction: column;
	align-items: space-around;
	align-content: center;
	justify-content: space-between;

	/* List */
	list-style-type: none;
}

/* Replacing WAS bullet point with icon */
#index-body footer #digital-sources li::before {
	/* Box Model*/
	margin-right: 10px;
	margin-bottom: 10px;
	
	content: "";
	display: inline-block;
	background-image: url('Images/logo.jpg');
	background-size: contain;
	vertical-align: middle;

	/* Icon */
	width: 16px;
	height: 16px;
}

#index-body footer #digital-sources li a {
	/* Font */
	font-size: 24px;

	/* Visual Rules */
	color: white;
	text-decoration: none;
}

#index-body footer #digital-sources li a:hover {
	color: var(--color-bittersweet);

	font-size: 34px;
}

#index-body footer .copywrite-container {
	/* Flexbox */
	display: flex;
	align-items: center;

	/* Box Model */
	margin-left: 20px;
}

#index-body footer .copywrite-container .copywrite-symbol {
	width: 10px;
	height: 10px;
}

#index-body footer .copywrite-container p {
	/* Box Model */
	margin-left: 10px;

	/* Visual Rules */
	color: white;
}